.intro {
 text-align: center;   
}
h1 {
text-align: center;
}
.welcome-text{
    background-image: url(../images/backgrounds/h_img.jpg);
    background-size:100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}
.mouse{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.about{
    text-align: center;
}
.services{
    background-image: url(../images/backgrounds/c_image.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    background-size: 100% 100%;
}