.intro {
 text-align: center;   
}
h1 {
text-align: center;
}
.welcome-text{
    background-image: url(../images/backgrounds/h_img.jpg);
    background-size:100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}
.mouse{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.about{
    text-align: center;
}
.services{
    background-image: url(../images/backgrounds/c_image.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    background-size: 100% 100%;
}
.contactus{
    background-image: url("../images/backgrounds/c_image.jpg");
    text-align: center;
}
.dark {
    background-image: url("../images/portfolio/work4.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 16px;
  }
  .security {
    background-image: url("../images/portfolio/work3.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 16px;
    
  }
  .design1 {
    background-image: url("../images/portfolio/work2.jpg");
    background-size: cover;
    width: 100% ;
    height: 300px;
    margin-top: 16px;
  }

  .streaming {
    background-image: url("../images/portfolio/work1.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 16px;
    
  }
  .day {
    background-image: url("../images/portfolio/work5.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top:16px;
  }
  .sound {
    background-image: url("../images/portfolio/work6.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: 16px;
  }
  .logomaker {
    background-image: url("../images/portfolio/work8.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: 16px;
  }
  .bailey {
    background-image: url("../images/portfolio/work7.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-top: 16px;
  }

  .form {
      text-align: center;
      background-image: url("../images/backgrounds/s_image.jpg");
  }
  .textarea1 {
    width: 70%;
    height: 235px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background: transparent;
    font-size: 16px;
    resize: none;
    outline: none;
    opacity: 100%;
}
.name{
    background: transparent;
}
.submit{
    color: thistle;
}
.display{
  color: transparent;
}